<html>
<title>Pagamento stripe</title>
<body>
<h3>Paga con carta</h3>
<form action="/payment/strype" method="POST">
<script
src="//checkout.stripe.com/v2/checkout.js"
class="stripe-button"
data-key="pk_test_51ML1xaLE1Xa3zqqa1kxvLp7ujVoCxcbyHg27a0yV3GZ7svkCphwU2iqn3ppfpV2w6WzFrVl1IrM2S9QXLW6M9l7z00okTPDHgO"
data-amount="7000"
data-currency="usd"
data-name="Alessandro Massadoro"
data-description="Articoli"
data-locale="auto" >
</script>
</form>
</body>
</html>